/* 초기화 */
*{margin: 0;  padding: 0}
body{font-family: sans-serif;}
li{list-style: none;}
a{text-decoration: none;}

/* 반응형 */
@media screen and (min-width: 980px) {
  html,body{height: 100%}
  #header_wrap{height: 100%;}
  #section_wrap{
    height: 100%;
    position: relative;
  }
  #section_content{
    width: 970px;  height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -485px;
    top: 50%;
    margin-top: -250px;
    overflow: hidden;
  }
  #photo{
    float: left;
    margin-top: 50px;
  }
  #description{
    float: left;
    margin-left: 30px;
    margin-top: 50px;
  }
  #description > p{
    width: 550px;
    text-align: left;
  }
  #backbutton{
    width: 50px;
    float: right;
    margin-top: 400px;
  }
}
@media screen and (min-width: 481px) and (max-width: 979px) {
  #header_wrap{
    height: 500px;
    position: relative;
  }
  #section_content{
    width: 480px;
    position: absolute;
    left: 50%;
    margin-left: -240px;
  }
  #photo{
    text-align: center;
    margin-top: 40px;
  }
  #description{
    text-align: center;
    margin-top: 40px;
  }
  #description > p{
    width: 450px;
    text-align: center;
  }
  #backbutton{
    width: 450px;
    margin: 30px 0;
  }
}
@media screen and (max-width: 480px) {
  #header_wrap{height: 300px;}
  #section_content{
    width: 320px;
    position: absolute;
    left: 50%;
    margin-left: -160px;
  }
  #photo{
    text-align: center;
    margin-top: 30px;
  }
  #description{
    text-align: center;
    margin-top: 30px;
  }
  #description > p{
    width: 300px;
    text-align: center;
  }
  #backbutton{
    width: 300px;
    margin: 20px 0;
  }
}

/* 공통 */
#header_wrap{
  background: url('../img/main.jpg') no-repeat center;
  background-size: cover;
  position: relative;
}
#header_content{
  width: 350px;  height: 130px;
  position: absolute;
  left: 50%;
  margin-left: -175px;
  top: 50%;
  margin-top: -65px;
}
#header_content > h1{
  text-align: center;
  color: white;
  animation-name: logo;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@keyframes logo {
  from{
    transform: translateY(70px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
#header_content > a{
  display: block;
  margin-top: 20px;
  text-align: center;
}
.icon-wrapper{display: inline-block;}
.custom-icon {
  font-size:30px;
  background:#666;
  background:rgba(0,0,0,0.7);
  padding:5px;
  -webkit-border-radius:1100%;
  -moz-border-radius:100%;
  -o-border-radius:100%;
  border-radius:100%;
  border:3px solid #fff;
  color:#fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:30px;
  height:30px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
.custom-icon:hover {background:rgba(0,0,0,0.9);}
#photo > img:last-child{display: none;}
a.iron:link{
  color: blue;
}
a.iron:hover{
  text-decoration: underline;
}
#description > p{
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 1.3em;
}
#backbutton{
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: black;
  color: white;
}
#backbutton:hover{
  background: white;
  color: black;
  border: 1px solid black;
}
